{% if apache_vhost_ssl is defined %}
<VirtualHost *:80>
  ServerName {{ tomcat_server_name }}

  ErrorLog /var/log/httpd/tomcatapps/error_log
  CustomLog /var/log/httpd/tomcatapps/access_log combined

  # don't loose time with IP address lookups
  HostnameLookups Off

  UseCanonicalName On

  Redirect permanent / https://{{ tomcat_server_name }}/

</VirtualHost>

<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName {{ tomcat_server_name }}

  ErrorLog /var/log/httpd/tomcatapps/error_log
  CustomLog /var/log/httpd/tomcatapps/access_log combined

  # don't loose time with IP address lookups
  HostnameLookups Off

  UseCanonicalName On

  ProxyRequests Off
  <Proxy *>
    Require all granted
  </Proxy>

  ProxyPreserveHost On

  ########################################
  ### Proxies to Tomcat Apps ###

{% for app in tomcat_applications %}
  # {{ app.app_name }} tomcat app
  ProxyPass /{{ app.rproxy_path }} http://localhost:{{ app.conn_port }}/{{ app.rproxy_path }} keepalive=on
  ProxyPassReverse /{{ app.rproxy_path }} http://localhost:{{ app.conn_port }}/{{ app.rproxy_path }}
  <Location /{{ app.rproxy_path }}>
    Require all granted
  </Location>

{% endfor %}

  ########################################

{% if apache_vhost_ssl is defined %}
  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  SSLCipherSuite    ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA
  SSLHonorCipherOrder     on
  SSLCertificateFile {{ apache_vhost_ssl.cert_file_path }}
  SSLCertificateKeyFile {{ apache_vhost_ssl.cert_key_file_path }}
  SSLCertificateChainFile {{ apache_vhost_ssl.cert_chain_file_path }}

  CustomLog /var/log/httpd/tomcatapps/ssl_request_log   ssl_combined
{% endif %}

</VirtualHost>
